.benefits-section {
    position: relative;
  
    &::before {
      content: url("../../img/backgrounds/узор\ лист\ 1.png");
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &::after {
      content: url("../../img/backgrounds/малина\ 1.png");
      position: absolute;
      left: 0;
      bottom: -18%; 
    }
  }