.reviews-section {
    position: relative;
    background: url("../../img/backgrounds/Ягода-3\ 1.png") right 2% top 6% no-repeat;
    z-index: 10;
  
    &::before {
      content: url("../../img/backgrounds/rewiew-bg-leaf.png");
      position: absolute;
      left: 0;
      bottom: -28%;
    }
  
    &::after {
      content: url("./../../img/backgrounds/Ягоды\ 2\ \(1\).png");
      position: absolute;
      left: -10px;
      bottom: -14%;
    }
  
    &__title {
      margin-bottom: 32px;
    }
  
  
  }